.header {
  display: flex;
  justify-content: space-between;
  height: 55px;
  background-color: white;
  border: 1px solid rgb(228,228,228);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.section1 {
  display: flex;
  align-items: center;
}

.hamburger-menu-icon {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.section2 {
  flex: 1;
  max-width: 500px;
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-right: 35px;
}

.search-bar {
  width: 0px;
  flex: 1;
  height: 38px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 2px 0 0 2px;
  border: 1px solid rgb(190, 190, 190);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-button {
  width: 66px;
  height: 40px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(192,192,192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-button-icon {
  height: 24px;
}

.voice-search {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}

.voice-search-icon {
  height: 24px;
}

.voice-search ,
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.search-button,
.voice-search,
.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search .tooltip,
.upload-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search:hover .tooltip,
.upload-container:hover .tooltip {
  opacity: 1;
}

.notifications-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}

.notifications-icon,
.youtube-apps-icon,
.upload-icon {
  height: 24px;
}

.my-channel {
  height: 32px;
  border-radius: 50%;
}