.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-nav-buttons {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-nav-buttons:hover {
  background-color: rgb(230, 230, 230);
}

.sidebar-nav-buttons img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-nav-buttons div {
  font-size: 10px;
}